{% extends 'base.html' %}

{% block title %}
Admin
{% endblock %}

{% block content %}
<div class="row" style="height: 100vh;">
    <div class="col-4" style="height: 100%; overflow: auto;">
        <div class="w-75 mx-auto pt-5">
            <h1>Waiting List</h1>
        </div>
        {% include 'shared/student_list.html' %}
    </div>

    <div class="col-4" style="height: 100%; overflow: auto;">
        <div class="w-75 mx-auto pt-5">
            <h1>Priority Line</h1>
        </div>
        {% include 'shared/priority_student_list.html' %}
    </div>

    <div class="col-4" style="display: flex; align-items: center;">
        <div class="card p-5 mx-auto">
            <div class="card-body">
                <h1>Admin Menu</h1>
                <p>Server status: {{ 'OPEN' if is_open else 'CLOSED'}}</p>

                {% if is_open %}
                <div class="btn-group mb-3" role="group">
                    <a href="/next_student" class="btn btn-primary">
                        Next Student
                    </a>

                    <a href="/delete_all_student" class="btn btn-primary">
                        Delete All
                    </a>

                    <a href="/delete_visited_student" class="btn btn-primary">
                        Delete Visited
                    </a>
                </div>
                {% endif %}

                <form action="/server_toggle" class="mb-3">
                    <button type="submit" class="btn {{ 'btn-danger' if is_open else 'btn-primary' }}">
                        {% if is_open %}
                        Close Server
                        {% else %}
                        Open Server
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // admin 페이지 업데이트 함수
    function updateAdminPage() {
        $.ajax({
            url: '/admin', // Flask 엔드포인트 URL
            type: 'GET',
            success: function(data) {
                // 업데이트된 admin 페이지를 받아서 전체 페이지를 교체
                $('html').html(data);
            },
            error: function(error) {
                console.error('Error updating admin page:', error);
            }
        });
    }

    // 페이지 로드 시 admin 페이지 업데이트 호출
    $(document).ready(function() {
        updateAdminPage();
    });

    // 일정 간격으로 admin 페이지 업데이트 호출
    setInterval(updateAdminPage, 4000); // 5초마다 업데이트 (원하는 간격으로 조절 가능)
</script>
{% endblock %}
