{% for student in waiting_list %}
<div class="card my-3 w-75 mx-auto
    {{'text-bg-primary' if (loop.index == (current_index + 1))}}
    {{'text-bg-secondary' if (loop.index < (current_index + 1))}}
">
    <div class="card-body">
        <h5 class="card-title">#{{ student.register_id }}</h5>
        {% if admin %}
            <p class="card-text">{{ student.name }}, {{ student.grade }}, {{ student.email }}</p>
            <div class="btn-group" role="group">
                <a href="/delete_student?student_index={{loop.index - 1}}" class="btn btn-warning">Delete</a>
                <a href="/prioritize_student?student_index={{loop.index - 1}}" class="btn btn-warning">Prioritize</a>
            </div>
        {% endif %}
    </div>
</div>
{% endfor %}

<h5 class="card-title">[{{ loop.index }}] #{{ student.register_id }}</h5>

